*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: skyblue;
    background-image: url(./images/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}
h1 {

    color: rgb(0, 212, 0);
    margin-bottom: 3rem;
    white-space: nowrap;
}
main{
    border: 1px solid;
    padding: 5rem;
    min-width: 50%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.375);
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    
}
main p{
margin-top:2rem;
color:silver;
white-space: nowrap;
}
.message-cl
{
    font-style: italic;
}   
.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
    gap:1rem;
    margin-top:3rem
}
.buttons button
{
    padding:1rem;
    background-color: rgba(172, 255, 47, 0.494);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    cursor:pointer;
    color:green;
}

.buttons button:nth-child(1)
{
    white-space:nowrap;
}
.buttons button:nth-child(2)
{
    background-color: rgba(0, 0, 255, 0.525);
    color: rgb(0, 0, 120);
    white-space: nowrap;
}

.buttons #reset-btn
{
    background-color: rgba(255, 0, 0, 0.606) !important;
    color:rgb(117, 0, 0);
}
.buttons button:hover
{
  background-color: rgb(172, 255, 47);;
}

.buttons button:nth-child(2):hover
{
  background-color: rgb(80, 49, 255);
}
